<!-- include header -->
<%- include('./partials/header') %>
 
<button id="btn">click me</button>
 <!-- my body part logic -->
    <h1>Hello ji</h1>
    <p>Kaise ho pyare </p>
    <h3>code chl rha hai</h3>
 

    <!-- include footer -->
     <%- include('./partials/footer') %>
      
   