<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is my lucky number <%= 2+2+3 %></h1>
    <!-- we will write least no of logic in ejs file so i will write logic in route method  -->
     <h1>this is my random number generator  <%= number %></h1>

   <% if(number%2===0){ %>
      <h1>Even No</h1>
    
    <% } else{ %>
    <h1>Odd No</h1>;
   <% } %>
    
</body>
</html>