<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>

</head>
<body>
    <!-- action-: it is the url or where the form will go -->
   

 

 
   <fieldset>
      <legend>POST</legend>
      <form action="/blogs" method="POST">
         <!-- action-: it is the url or where the form will go -->
         <label for="username">Name: </label>
     <input type="text" name="username" id="username">
     
      <br><br>
     <label for="comment">Comment:</label>
     <input type="text" name="comment" id="comment">
     <hr><br>
     <button type="submit" id="btn">Add Comment</button>
     
      </form>
     
   </fieldset>



</body>
</html>