<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <legend>showing a particular blog</legend>
    <h1>ID is <%= foundcomment.id %></h1>
    <h2>Name is: <%= foundcomment.username %></h2>
    <h3>Comment is: <%= foundcomment.comment %></h3>
    <a href="/blogs">back</a>
</body>
</html>