<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
 <h1>Get vs Post</h1>

 <fieldset>
    <legend>GET</legend>
 <form action="/rajesh" method="GET">
    <!-- action-: it is the url or where the form will go -->
    <label for="name">Name: </label>
<input type="text" name="username" id="name">

<label for="age">Age:</label>
<input type="text" name="age" id="age">


<button type="submit">Submit</button>

 </form>

 </fieldset>

 <hr>
 <hr>
 <br>

 <fieldset>
    <legend>POST</legend>
 <form action="/user" method="POST">
    <!-- action-: it is the url or where the form will go -->
    <label for="name">Name: </label>
<input type="text" name="username" id="name">

<label for="age">Age:</label>
<input type="text" name="age" id="age">


<button type="submit">Submit</button>

 </form>

 </fieldset>


</body>
</html>